<div>
    <h2>
        <span jhiTranslate="gatewayApp.travelReservation.home.title">Travel Reservations</span>
        <button class="btn btn-primary float-right jh-create-entity create-travel-reservation" [routerLink]="['/', { outlets: { popup: ['travel-reservation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.travelReservation.home.createLabel">
            Create new Travel Reservation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="travelReservations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.travelReservation.tourCode">Tour Code</span></th>
            <th><span jhiTranslate="gatewayApp.travelReservation.numberOfPersons">Number Of Persons</span></th>
            <th><span jhiTranslate="gatewayApp.travelReservation.needVisa">Need Visa</span></th>
            <th><span jhiTranslate="gatewayApp.travelReservation.clientConfirmed">Client Confirmed</span></th>
            <th><span jhiTranslate="gatewayApp.travelReservation.providerConfirmed">Provider Confirmed</span></th>
            <th><span jhiTranslate="gatewayApp.travelReservation.agencyConfirmed">Agency Confirmed</span></th>
            <th><span jhiTranslate="gatewayApp.travelReservation.notes">Notes</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let travelReservation of travelReservations ;trackBy: trackId">
                <td><a [routerLink]="['../travel-reservation', travelReservation.id ]">{{travelReservation.id}}</a></td>
                <td>{{travelReservation.tourCode}}</td>
                <td>{{travelReservation.numberOfPersons}}</td>
                <td>{{travelReservation.needVisa}}</td>
                <td>{{travelReservation.clientConfirmed}}</td>
                <td>{{travelReservation.providerConfirmed}}</td>
                <td>{{travelReservation.agencyConfirmed}}</td>
                <td>{{travelReservation.notes}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../travel-reservation', travelReservation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'travel-reservation/'+ travelReservation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'travel-reservation/'+ travelReservation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
