<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTourLabel" jhiTranslate="gatewayApp.tour.home.createOrEditLabel">Create or edit a Tour</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tour.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tour.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="tour.code"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="tour.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.numberOfDays" for="field_numberOfDays">Number Of Days</label>
            <input type="number" class="form-control" name="numberOfDays" id="field_numberOfDays"
                [(ngModel)]="tour.numberOfDays"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.numberOfNights" for="field_numberOfNights">Number Of Nights</label>
            <input type="number" class="form-control" name="numberOfNights" id="field_numberOfNights"
                [(ngModel)]="tour.numberOfNights"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="tour.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.timeOfDeparture" for="field_timeOfDeparture">Time Of Departure</label>
            <div class="d-flex">
                <input id="field_timeOfDeparture" type="datetime-local" class="form-control" name="timeOfDeparture" [(ngModel)]="tour.timeOfDeparture"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.timeOfReturn" for="field_timeOfReturn">Time Of Return</label>
            <div class="d-flex">
                <input id="field_timeOfReturn" type="datetime-local" class="form-control" name="timeOfReturn" [(ngModel)]="tour.timeOfReturn"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="tour.price"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.tour.capacity" for="field_capacity">Capacity</label>
            <input type="number" class="form-control" name="capacity" id="field_capacity"
                [(ngModel)]="tour.capacity"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
